<div class="container">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h2><%= flat.name %></h2>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>





<!--     old code
 -->
<!--     <div class="col-xs-12 col-sm-4">
 -->      <!-- insert <div class="card"> -->
        <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div> -->

   <!--  </div>
    <div class="col-xs-12 col-sm-4"> -->
      <!-- insert <div class="card"> -->
        <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div> -->

   <!--  </div>
    <div class="col-xs-12 col-sm-4"> -->
      <!-- insert <div class="card"> -->
        <!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div> -->

 <!--    </div>
  </div>
</div>
 -->
